{
	admin 0.0.0.0:20130
}

:20128 {
	encode zstd gzip

	handle /health {
		respond "ok" 200
	}

	handle_path /api/v1/* {
		reverse_proxy {$CADDY_API_UPSTREAM} {
			health_uri /v1/models
			health_interval 10s
			health_timeout 5s
			header_up X-Forwarded-Proto {http.request.proto}
			header_up X-Forwarded-Host {http.request.host}
			header_up X-Forwarded-For {http.request.remote}
		}
	}

	handle {
		reverse_proxy {$CADDY_UI_UPSTREAM} {
			health_uri /
			health_interval 10s
			health_timeout 5s
			header_up X-Forwarded-Proto {http.request.proto}
			header_up X-Forwarded-Host {http.request.host}
			header_up X-Forwarded-For {http.request.remote}
		}
	}
}
